<?php

define('DB_PASSWORD', 'password to use to log in to the database');
define('HOPIN_API_KEY', 'api key for HopIn');
define('DISCORD_CLIENT_SECRET', 'OAuth client secret for Discord');
define('DISCORD_BOT_TOKEN', 'Bot auth token fro Discord');
define("SMTP_PASSWORD", "Password to auth with the SMTP server");
?>