<?php

define('STAGING', true'); // Comment out if running in prod.
define('DB_PASSWORD', 'password to use to log in to the database');
define('HOPIN_API_KEY', 'api key for HopIn');
define('DISCORD_CLIENT_SECRET', 'OAuth client secret for Discord');
define('DISCORD_BOT_TOKEN', 'Bot auth token fro Discord');
define("SMTP_PASSWORD", "Password to auth with the SMTP server");
define("CONREG_PASSWORD", "Password to auth with conreg");
define("API_KEYS", [
  "Client name" => [
    "Random string representing shared secret"
  ]
]);
define("EMAIL_ALLOWLIST", [
  "List of email addresses that are allowed to login. If not defined, all will be allowed."
]);
?>