body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  font-size: 18px;
  color: #4B4F58;
}

[data-loading] {
  display: none;
}

h1, h2, h3, h4 {
  font-family: "Gruppo", display;
}

a {
  color: #0170B9;
}

a:hover {
  color: #3a3a3a;
}

p {
  line-height: 1.5;
  margin-bottom: 1.6em;
}

em {
  font-style: italic;
}

kbd {
  font-style: italic;
}

kbd:before { content: open-quote; }
kbd:after  { content: close-quote; }

img {
  max-width: 100%;
}

header {
  background-color: #eee;
}

footer {
  margin-top: auto;
  background-color: #424242;
  border-top: solid 1px #E5E5E5;
  color: #F5F5F5;
}

footer .container {
  display: flex;
}

footer .container p {
  width: inherit;
  flex-grow: 1;
}

footer ul {
  display: flex;
  column-gap: 1em;
  row-gap: 0.25em;
  flex-wrap: wrap;
}

footer li {
  display: inline;
}

footer a, footer a:hover {
  color: #F5F5F5;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 20px 40px;
  display: flex;
  align-items: center;
}

.site-branding-container {
  display: inline-flex;
  align-items: center;
  text-align: left;
  flex-shrink: 0;
}

.site-logo {
  margin-right: 1em;
  display: inline-block;
  max-width: 100%;
}

.site-logo img {
  width: 50px;
  vertical-align: middle;
  height: auto;
  max-width: 100%;
}

.site-branding h1 {
  margin: 0;
  font-size: 25px;
  line-height: 1.2em;
  word-wrap: break-word;
  font-weight: 700;
  text-transform: none;
}

.container p {
  margin-bottom: 0;
  width: 100%;
}


.site-branding a, .site-branding a:hover {
  color: black;
  text-decoration: none;
}

.username {
  text-align: right;
}

main {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 40px;
}

.cards {
  display: grid;
  column-gap: 20px;
  row-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
}

.card {
  display: grid;
  grid-row: span 4;
  grid-template-rows: subgrid [image-start][image-end title-start] [title-end subtitle-start] [subtitle-end description-start] [description-end];
  grid-template-columns: subgrid;
  row-gap: 0;
  padding: 0 20px;
  text-decoration: none;
  color: rgb(34, 34, 34);
  border-radius: 10px;
  box-shadow: hsla(0, 0%, 39%, 0.2) 0px 2px 8px 0px;
  transition: all 0.2s ease-in;
  font-weight: normal;
}

.card:hover {
  background-color: rgb(245, 245, 245);
  box-shadow: hsla(0, 0%, 39%, 0.3) 0px 4px 8px 0px;
  color: rgb(34, 34, 34);
}

.card .hero {
  grid-area: image;
  content: ' ';
  margin: 0 -20px 20px -20px;
  aspect-ratio: 1.5 / 1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-size: cover;
  background-image: url('/resources/unknown.png');
}

.card.time .hero {
  font-size: 4em;
  color: #444;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EEE;
}

.card.time .hero {
  background-image: none;
}

.card.readme .hero {
  background-image: url('/resources/readme.jpg');
}

.card.guide .hero {
  background-image: url('/resources/guide.jpg');
}

.card.stream .hero {
  background-image: url('/resources/stream.png');
}

.card.chat .hero {
  background-image: url('/resources/chat.png');
}

.card.website .hero {
  background-image: url('/resources/website.png');
}

.card.vote .hero {
  background-image: url('/resources/vote.jpg');
}

.card.partguide .hero {
  background-image: url('/resources/partguide.png');
}

.card h3 {
  grid-area: title;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 24px;
}

.card h4 {
  grid-area: subtitle;
  margin-bottom: 20px;
  font-size: 18px;
}

.card p {
  grid-area: description;
}

.other {
  margin-top: 1rem;
}

.other h2 {
  font-size: 1.5rem;
  line-height: 1.5;
}

.other li {
  font-size: 1.2rem;
}

article {
  line-height: 1.5;
  margin-top: 1em;
}

article h3 {
  font-size: 28px;
  margin-bottom: 10px;
  font-weight: bold;
}

article h4 {
  font-size: 25px;
  margin-bottom: 10px;
  font-weight: bold;
}

article ul {
  list-style: disc;
  margin-bottom: 20px;
}

.button {
  display: inline-flex;
  padding: 10px 20px;
  background-color: #0170B9;
  text-decoration: none;
  color: #ffffff;
  border-radius: 3px;
  transition: color .1s ease-in-out, background-color .1s ease-in-out;
}

.button:hover {
  background-color: #2b3990;
  color: #ffffff;
}

.button.disabled {
  background-color: #DDD;
  color: #999;
  font-weight: bold;
  cursor: default;
}

form p {
  margin-bottom: 0;
}

form .label {
  font-weight: bold;
}

form .hint {
  font-style: italic;
}

form input[type='email'], form input[type='password']{
  width: 100%;
  max-width: 50ch;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  font-size: 1.2rem;
}

form input[type='submit'], form input[type='button'] {
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
  transition: color .1s ease-in-out, background-color .1s ease-in-out;
}

form input[type='submit'] {
  background-color: #087232;
  color: #ffffff;
}

form input[type='button'] {
  background-color: #d0d6d3;
  color: #087232;
}

form input[type='submit']:hover {
  background-color: #f3e600;
  color: #087232;
}

form input[type='button']:hover {
  background-color: #e3e7e3;
}

form input[type='submit']:disabled,
form input[type='submit']:disabled:hover,
form input[type='input']:disabled,
form input[type='input']:disabled:hover {
  background-color: #AAAA;
  color: #555;
  cursor: default;
  background-image: url('/resources/spinner.gif');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center right 10px;
  padding-right: 38px;
}

.filled-in-field {
  margin-top: 10px;
}

.filled-in-field a {
  margin-left: 1em;
}

fieldset {
  margin-top: 20px;
}

.error {
  margin-top: 20px;
  color: rgb(250, 50, 50);
}

.info {
  margin-top: 20px;
}

@media only screen and (max-width: 40em) {
  .container {
    flex-direction: column;
    align-items: start;
  }
  .username {
    text-align: left;
    padding-top: 10px;
  }
  form input[type='email'], form input[type='password']{
    max-width: 100%;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

td, th {
  padding: 10px;
}

th {
  background-color: #087232;
  color: white;
  text-align: left;
  font-weight: bold;
}

.new-badgeno-row {
  border-top: solid 1px #DDD;
}

ol {
  list-style-type: decimal;
  margin-left: 1rem;
}

ul#newsletter {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

#newsletter li {
  display: flex;
  flex-direction: column;
}

#newsletter img {
  max-width: 300px;
  border: solid 1px #DDD;
}

sup {
  vertical-align: super;
  font-size: smaller;
  line-height: normal;
}

#permissions {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

#error-toast {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #f00c;
  color: #fff;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

form.vertical label {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5em;
}