body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  font-size: 18px;
  color: #4B4F58;
}

body.home {
  background-image: url('/resources/background.webp');
  background-size: cover;
  background-position: bottom right;
}

@media (prefers-contrast: more) {
  body {
    color: black;
  }

  body.home {
    background-image: none;
  }
}

[data-loading] {
  display: none;
}

h1, h2, h3, h4, .site-branding p {
  font-family: "Gruppo", display;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.875rem;
}

h4 {
  font-size: 1.5rem;
}

a, summary {
  color: #0170B9;
  text-decoration: underline;
  cursor: pointer;
}

a:hover, summary:hover {
  color: #3a3a3a;
}

a:not([href]) {
  color: #4B4F58;
  text-decoration: none;
  cursor: text;
}

summary {
  float: left;
}

details {
  display: inline-block;
}

details *:nth-child(2) {
  clear: left;
}

p {
  line-height: 1.5;
  margin-bottom: 0.5em;
}

p + h2, p + h3, p + h4 {
  margin-top: 1em;
}

em {
  font-style: italic;
}

kbd {
  font-style: italic;
}

kbd:before { content: open-quote; }
kbd:after  { content: close-quote; }

img {
  max-width: 100%;
  width: auto;
  height: auto;
}

header {
  background-color: #eeeeeebf;
  backdrop-filter: blur(10px);
  border-bottom: solid 1px #fff5;
}

footer {
  margin-top: auto;
  background-color: #424242;
  border-top: solid 1px #E5E5E5;
  color: #F5F5F5;
}

footer .container {
  display: flex;
}

footer .container p {
  width: inherit;
  flex-grow: 1;
}

footer ul {
  display: flex;
  column-gap: 1em;
  row-gap: 0.25em;
  flex-wrap: wrap;
}

footer li {
  display: inline;
}

footer a, footer a:hover {
  color: #F5F5F5;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 20px 40px;
  display: flex;
  align-items: center;
}

.site-branding-container {
  display: inline-flex;
  align-items: center;
  text-align: left;
  flex-shrink: 0;
  color: black;
  text-decoration: none;
}

.site-logo {
  margin-right: 1em;
  display: inline-block;
  max-width: 100%;
}

.site-logo img {
  width: 50px;
  vertical-align: middle;
  height: auto;
  max-width: 100%;
}

.site-branding h1 {
  margin: 0;
  font-size: 25px;
  line-height: 1.2em;
  word-wrap: break-word;
  font-weight: 700;
  text-transform: none;
}

.container p {
  margin-bottom: 0;
  width: 100%;
}


.site-branding a, .site-branding a:hover {
  color: black;
  text-decoration: none;
}

.username {
  text-align: right;
}

main {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 40px;
}

.cards {
  display: grid;
  column-gap: 20px;
  row-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  grid-auto-rows: auto 1fr;
  text-align: center;
}

.card {
  position: relative;
  display: grid;
  grid-row: span 2;
  grid-template-rows: subgrid [image-start][image-end title-start] [title-end];
  grid-template-columns: subgrid;
  row-gap: 0;
  padding: 0 20px;
  border-radius: 10px;
  box-shadow: hsla(0, 0%, 39%, 0.2) 0px 2px 8px 0px;
  transition: all 0.1s ease-in;
  font-weight: normal;
}
.card h2 a {
  color: rgb(34, 34, 34);
  text-decoration: none;
}

.card h2 a::before {
  content: ' ';
  position: absolute;
  inset: 0;
  z-index: 1;
  border-radius: 10px;
}

.card:hover, .card:focus-within {
  background-color: rgb(245, 245, 245);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  transform: scale(1.02, 1.02);
  outline: solid 4px #0170B988;
}

@media (prefers-reduced-motion) {
  .card:hover, .card:focus-within {
    transition: none;
    transform: none;
    outline: solid 4px #0170B988;
  }
}

.card .hero {
  position: relative;
  grid-area: image;
  margin: 0 -20px 5px -20px;
  aspect-ratio: 1.5 / 1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card.time {
  background-color: var(--info-color-light);
}
.card.time .hero {
  font-size: 3em;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--info-color);
}

.card.time .hero::after {
  background-image: none;
}

.card .hero::after {
  content: ' ';
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('/resources/unknown.png');
}

:root {
  --info-color: #1b80bd;
  --info-color-light: #f0feff;
  --prog-color: #056940;
  --prog-color-light: #ecfaf5;
  --part-color: #323884;
  --part-color-light: #f2f4ff;
  --events-color: #8bab68;
  --events-color-light: #fffeed;
}

.card.readme {
  background-color: var(--info-color-light);
}
.card.readme .hero {
  background-color: var(--info-color);
}
.card.readme .hero::after {
  background-image: url('/resources/readme.svg');
}

.card.guide {
  background-color: var(--prog-color-light);
}
.card.guide .hero {
  background-color: var(--prog-color);
}
.card.guide .hero::after {
  background-image: url('/resources/guide.svg');
}

.card.maps {
  background-color: var(--info-color-light);
}
.card.maps .hero {
  background-color: var(--info-color);
}
.card.maps .hero::after {
  background-image: url('/resources/maps.svg');
}

.card.stream {
  background-color: var(--prog-color-light);
}
.card.stream .hero {
  background-color: var(--prog-color);
}
.card.stream .hero::after {
  background-image: url('/resources/stream.svg');
}

.card.chat {
  background-color: var(--prog-color-light);
}
.card.chat .hero {
  background-color: var(--prog-color);
}
.card.chat .hero::after {
  background-image: url('/resources/chat.svg');
}

.card.signups {
  background-color: var(--prog-color-light);
}
.card.signups .hero {
  background-color: var(--prog-color);
}
.card.signups .hero::after {
  background-image: url('/resources/signups.svg');
}

.card.newsletter {
  background-color: var(--info-color-light);
}
.card.newsletter .hero {
  background-color: var(--info-color);
}
.card.newsletter .hero::after {
  background-image: url('/resources/newsletter.svg');
}

.card.volunteer {
  background-color: var(--part-color-light);
}
.card.volunteer .hero {
  background-color: var(--part-color);
}
.card.volunteer .hero::after {
  background-image: url('/resources/volunteer.svg');
}

.card.gallery {
  background-color: var(--events-color-light);
}
.card.gallery .hero {
  background-color: var(--events-color);
}
.card.gallery .hero::after {
  background-image: url('/resources/gallery.svg');
}

.card.hugos {
  background-color: var(--events-color-light);
}
.card.hugos .hero {
  background-color: var(--events-color);
}
.card.hugos .hero::after {
  background-image: url('/resources/hugos.svg');
}

.card.site-selection {
  background-color: var(--events-color-light);
}
.card.site-selection .hero {
  background-color: var(--events-color);
}
.card.site-selection .hero::after {
  background-image: url('/resources/site-selection.svg');
}

.card.card.itinerary {
  background-color: var(--part-color-light);
}
.card.itinerary .hero {
  background-color: var(--part-color);
}
.card.itinerary .hero::after {
  background-image: url('/resources/itinerary.svg');
}

.card.childcare {
  background-color: var(--info-color-light);
}
.card.childcare .hero {
  background-color: var(--info-color);
}
.card.childcare .hero::after {
  background-image: url('/resources/childcare.svg');
}

.card.help {
  background-color: var(--info-color-light);
}
.card.help .hero {
  background-color: var(--info-color);
}
.card.help .hero::after {
  background-image: url('/resources/help.svg');
}

.card.website {
  background-color: var(--info-color-light);
}
.card.website .hero {
  background-color: var(--info-color);
}
.card.website .hero::after {
  background-image: url('/resources/website.svg');
}

.card hgroup {
  grid-area: title;
}

.card h2 {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 24px;
}

.card h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.card-section {
  margin-bottom: 3rem;
}

.card-section h2 {
  font-size: 2rem;
  line-height: 1;
  margin-bottom: 0.5em;
}

@media screen and (max-width: 465px) {
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(137px, 0.5fr));
  }

  .card.time .hero {
    font-size: 2.5em;
  }

  .card h2 a {
    font-size: 80%;
  }
}

@media screen and (max-width: 388px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

.other {
  background-color: #eeeeeebf;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 0.5em 1em;
  margin-top: 1rem;
}

.other h2 {
  font-size: 1.5rem;
  line-height: 1.5;
  color: black;
}

.other li {
  font-size: 1.2rem;
  line-height: 1.5;
}

article {
  line-height: 1.5;
  margin-top: 1em;
}

article h3 {
  font-size: 28px;
  margin-bottom: 10px;
  font-weight: bold;
}

article h4 {
  font-size: 25px;
  margin-bottom: 10px;
  font-weight: bold;
}

article ul {
  list-style: disc;
  margin-bottom: 20px;
}

.button {
  display: inline-flex;
  padding: 10px 20px;
  background-color: #0170B9;
  text-decoration: none;
  color: #ffffff;
  border-radius: 3px;
  transition: color .1s ease-in-out, background-color .1s ease-in-out;
}

.button:hover {
  background-color: #2b3990;
  color: #ffffff;
}

.button.disabled {
  background-color: #DDD;
  color: #999;
  cursor: default;
}

form p {
  margin-bottom: 0;
}

form .label {
  font-weight: bold;
}

form .hint {
  font-style: italic;
}

form input[type='email'], form input[type='password']{
  width: 100%;
  max-width: 50ch;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  font-size: 1.2rem;
}

form input[type='submit'], form input[type='button'] {
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
  transition: color .1s ease-in-out, background-color .1s ease-in-out;
}

form input[type='submit'] {
  background-color: #087232;
  color: #ffffff;
}

form input[type='button'] {
  background-color: #d0d6d3;
  color: #04421d;
}

form input[type='submit']:hover {
  background-color: #f3e600;
  color: #04421d;
}

form input[type='button']:hover {
  background-color: #e3e7e3;
}

form input[type='submit']:disabled,
form input[type='submit']:disabled:hover,
form input[type='input']:disabled,
form input[type='input']:disabled:hover {
  background-color: #AAAA;
  color: #555;
  cursor: default;
  background-image: url('/resources/spinner.gif');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center right 10px;
  padding-right: 38px;
}

legend {
  display: none;
}

.filled-in-field {
  margin-top: 10px;
}

.filled-in-field a {
  margin-left: 1em;
}

fieldset {
  margin-top: 20px;
}

.error {
  margin-top: 20px;
  color: rgb(250, 50, 50);
}

.info {
  margin-top: 20px;
}

@media only screen and (max-width: 40em) {
  .container {
    flex-direction: column;
    align-items: start;
  }
  .username {
    text-align: left;
    padding-top: 10px;
  }
  form input[type='email'], form input[type='password']{
    max-width: 100%;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

td, th {
  padding: 10px;
}

th {
  background-color: #087232;
  color: white;
  text-align: left;
  font-weight: bold;
}

.new-badgeno-row {
  border-top: solid 1px #DDD;
}

ol {
  list-style-type: decimal;
  margin: 0 0 1em 1em;
}

ol ol {
  list-style-type: lower-latin;
}

ul#newsletter {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

#newsletter li {
  display: flex;
  flex-direction: column;
}

#newsletter img {
  max-width: 300px;
  border: solid 1px #DDD;
}

sup {
  vertical-align: super;
  font-size: smaller;
  line-height: normal;
}

#permissions {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

#error-toast {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #f00c;
  color: #fff;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

form.vertical label {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5em;
}

.login {
  margin-bottom: 0.5em;
}

.wizard .content {
  margin: 0 1em;
}

.wizard header {
  padding-left: 2.5em;
  background-repeat: no-repeat;
  background-position: 0.3em 0.5em;
  background-size: 2em;
  line-height: 2;
}

.wizard header.active {
  background-color: #DDD;
  color: #202226;
}

.wizard header.pending, .wizard header.active {
  background-image: url('/resources/step-pending.svg');
}

.wizard header.complete {
  background-image: url('/resources/step-complete.svg');
}

.instructions img {
  border: solid 1px #DDD;
}